@using Microsoft.AspNet.Identity
@using ToDoList.Models
@using ToDoList.ViewModels

@{
}
@{
    Html.RenderAction("GetGroups","Home");
}
<h3>@Session["Response"]</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @{
                        Html.RenderPartial($"_AddTaskPartial", new TaskViewModel()
                        {
                            TaskId = 0,
                            Closed = false,
                            Title = "",
                            TaskPriority = Priority.None,
                        });
                    }
                </div>
            </div>
            <div class="row">
             <div class="col-lg-8">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="panel_1">
                            @{
                                Html.RenderAction("Tasks", "Task", new { groupid = 1} );
                            }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="panel_2">
                        @{
                            Html.RenderAction("Tasks", "Task", new {groupid = 2});
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="panel_3">
                        @{
                            Html.RenderAction("Tasks", "Task", new { groupid = 3 });
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="panel_4">
                        @{
                            Html.RenderAction("Tasks", "Task", new { groupid = 4 });
                        }
                    </div>

                    
                </div>
            </div>              
                <div class="col-lg-4">
                    @Html.Partial("Edit", new TaskViewModel() {Comments = new List<CommentViewModel>()})
                    @{Html.RenderPartial("EditPost", new TaskViewModel());}
                </div>
            </div>
        </div>
    </div>
    </div>
    @section scripts
    {
        <script>
            $(".js-btn-delete-all").click(function () {
                var data = $(this).attr("data");
                var chkGroup = ".checkbox" + data;
                var boxes = $(chkGroup);
                var chkBoxesID = new Array();
                boxes.each(function (index, element) {
                    if ($(element).prop('checked') == true)
                    {
                        chkBoxesID[index] = $(element).attr("id");
                   }                
                });
                
                $.ajax({
                    url: '@Url.Action("DeleteAll", "Task")',
                    type: 'POST',
                    data: JSON.stringify(chkBoxesID),
                    contentType: "application/json;charset=utf-8",
                    success: function () {
                        location.reload();
                    }
                });
            });
            function OnClick() {
                $.post("/task/add/",
                        { "Title": $("#Title").val() })
                    .done(function() {
                        $(".js-btn-add").removeClass("btn-primary").addClass("btn-success");
                    });
            }
            $("#Select_All1").change(function () {
                $(".checkbox2").prop('checked', false);
                $(".checkbox3").prop('checked', false);
                $(".checkbox4").prop('checked', false);
                $(".checkbox1").prop('checked', $(this).prop("checked"));
                var boxes = $(".checkbox1");
                $("#Select_All2").prop('checked', false);
                $("#Select_All3").prop('checked', false);
                $("#Select_All4").prop('checked', false);
                $('[id ^= Prior_2_]').removeClass();
                $('[id ^= Prior_3_]').removeClass();
                $('[id ^= Prior_4_]').removeClass();
                if(true == $(".checkbox1").prop("checked"))
                {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        var priority = $("#Priority_" + id).text();
                        priority = priority.toLowerCase().trim();
                        var classname = "priority-color-" + priority;
                        $("#Prior_1_" + id).addClass(classname);
                    });
                }
            else{
                boxes.each(function (index, element) {
                    var id = $(element).attr("id");
                    $("#Prior_1_" + id).removeClass();
                });
                }
                
            });
            $('.checkbox1').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#Select_All1").prop('checked', false); //change "select all" checked status to false                                                         
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkbox1:checked').length == $('.checkbox1').length) {
                    $("#Select_All1").prop('checked', true);
                }
            });
            $("#Select_All2").change(function () {
                $(".checkbox1").prop('checked', false);
                $(".checkbox3").prop('checked', false);
                $(".checkbox4").prop('checked', false);
                $(".checkbox2").prop('checked', $(this).prop("checked"));
                var boxes = $(".checkbox2");
                $("#Select_All1").prop('checked', false);
                $("#Select_All3").prop('checked', false);
                $("#Select_All4").prop('checked', false);
                $('[id ^= Prior_1_]').removeClass();
                $('[id ^= Prior_3_]').removeClass();
                $('[id ^= Prior_4_]').removeClass();
                if (true == $(".checkbox2").prop("checked"))
                {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        var priority = $("#Priority_" + id).text();
                        priority = priority.toLowerCase().trim();
                        var classname = "priority-color-" + priority;
                        $("#Prior_2_" + id).addClass(classname);
                    });
                }
                else {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        $("#Prior_2_" + id).removeClass();
                    });
                }
                
            });
            $('.checkbox2').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#Select_All2").prop('checked', false); //change "select all" checked status to false                                                         
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkbox2:checked').length == $('.checkbox2').length) {
                    $("#Select_All2").prop('checked', true);
                }
            });
            $("#Select_All3").change(function () {
                $(".checkbox2").prop('checked', false);
                $(".checkbox1").prop('checked', false);
                $(".checkbox4").prop('checked', false);
                $("#Select_All1").prop('checked', false);
                $("#Select_All2").prop('checked', false);
                $("#Select_All4").prop('checked', false);
                $(".checkbox3").prop('checked', $(this).prop("checked"));
                $('[id ^= Prior_2_]').removeClass();
                $('[id ^= Prior_1_]').removeClass();
                $('[id ^= Prior_4_]').removeClass();
                var boxes = $(".checkbox3");
                if (true == $(".checkbox3").prop("checked"))
                {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        var priority = $("#Priority_" + id).text();
                        priority = priority.toLowerCase().trim();
                        var classname = "priority-color-" + priority;
                        $("#Prior_3_" + id).addClass(classname);
                    });
                }
                else {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        $("#Prior_3_" + id).removeClass();
                    });
                }
            });
            $('.checkbox3').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#Select_All3").prop('checked', false); //change "select all" checked status to false                                                         
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkbox3:checked').length == $('.checkbox3').length) {
                    $("#Select_All3").prop('checked', true);
                }
            });
            $("#Select_All4").change(function () {
                $(".checkbox2").prop('checked', false);
                $(".checkbox3").prop('checked', false);
                $(".checkbox1").prop('checked', false);
                $("#Select_All3").prop('checked', false);
                $("#Select_All2").prop('checked', false);
                $("#Select_All1").prop('checked', false);
                $(".checkbox4").prop('checked', $(this).prop("checked"));
                $('[id ^= Prior_2_]').removeClass();
                $('[id ^= Prior_3_]').removeClass();
                $('[id ^= Prior_1_]').removeClass();
                var boxes = $(".checkbox4");
                if (true == $(".checkbox4").prop("checked"))
                {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        var priority = $("#Priority_" + id).text();
                        priority = priority.toLowerCase().trim();
                        var classname = "priority-color-" + priority;
                        $("#Prior_4_" + id).addClass(classname);
                    });
                }
                else {
                    boxes.each(function (index, element) {
                        var id = $(element).attr("id");
                        $("#Prior_4_" + id).removeClass();
                    });
                }
                
            });
            $('.checkbox4').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#Select_All4").prop('checked', false); //change "select all" checked status to false                                                         
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkbox4:checked').length == $('.checkbox4').length) {
                    $("#Select_All4").prop('checked', true);
                }
            });
            $(document).ready(function() {
                $("#edit").hide();
                $("#view").hide();
            });


            $(document).ready(function () {
                $(".CheckEdit").change(function (e) {
                    var id = $(e.target).attr("id");
                    var data = $(e.target).attr("data");
                    var boxes = window.$(".CheckEdit").sort("asc");
                    var priority = $("#Priority_" + id).text();
                    priority = priority.toLowerCase().trim();
                    var classname = "priority-color-" + priority;                   
                    if ($(e.target).is(":checked"))
                    {
                        boxes.each(function (index, element) {
                            $(element).prop("checked", false);
                            $("#Prior_"+data+"_" + index).removeClass();
                        });
                        $(e.target).prop("checked", true);
                        $("#view").show();
                        $("#edit").hide();
                        $("#Prior_" + data + "_" + id).addClass(classname);
                        $.ajax({
                            url: '@Url.Action("Edit","Task")/?id=' + id,
                            dataType: "text",
                            type: "GET",
                            success: function (data) {
                                $("#view").html(data);
                                $(".comments").css("display", "none");
                            }
                        });
                    }
                    else {
                        $(e.target).prop("checked", false);
                        $("#view").hide();
                        $("#edit").hide();
                        $("#Prior_" + data + "_" + id).removeClass();
                    }
                });
            });

            function btnClick() {
                var id = $("#taskID").val();
                $("#view").hide();
                $("#edit").show();
                $.ajax({
                    url: '@Url.Action("Edit","Task")/?id=' + id + '&act=edit',
                    dataType: "text",
                    type: "GET",
                    success: function(data) {

                        $("#edit").html(data);
                    }
                });
                return true;
            }

            $("#Cancel").click(function() {
                $("#view").show();
                $("#edit").hide();
            });

            function btnShow() {
                $(".comments").css("display", "block");
            }

            function btnHide() {
                $(".comments").css("display", "none");
            }

        </script>
    }
